<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    function deleteRoom(roomName) {
        $.ajax({
            url : '/deleteRoom/',
            type : 'POST',
            data : {
                roomName: roomName,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
        })
    };

setInterval(function(){
    $.ajax({
        url: '/getRooms/',
        type: 'GET', //GET, on reçoit des donénes du serveur
        dataType: 'json',
        success: function(response) {
            document.getElementById("roomWindow").innerHTML = "" //on vide la fenêtre de chat à chaque rafraichissement de la page pour éviter les doublons de messages
            //sinon les messages s'affichent plusieurs fois
            for (let i = 0; i < response.allRooms.length; i++) {
                document.getElementById("roomWindow").innerHTML+='<p>' + response.allRooms[i].roomName+ '</p>'
                document.getElementById("roomWindow").innerHTML+='<a href="/chatroom/room_name='+response.allRooms[i].roomName+'">Join this chatroom</a>'
                {% if user.is_superuser %} // syntaxe marquée comme une erreur par vscode, mais fonctionne avec des extensions django qui reconnaissent le langage template
                    var deletetionButton=document.createElement("button")
                    deletetionButton.innerHTML="Delete"
                    deletetionButton.setAttribute("onclick", "deleteRoom('"+response.allRooms[i].roomName+"')") //execute la fonction deleteRoom au clic
                    document.getElementById("roomWindow").appendChild(deletetionButton)
                {% endif %}

            }
        }
    });
},200) //envoie une requete toutes les 200ms
</script>
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style1.css" />
    </head>
    <body>
        <header>
            <div style="text-align: center;">
                <h1 class="login-header">Chatroom de lekip</h1>
            </div>
        </header>
        <section>
            <div>
                {% if user.is_superuser %}
                <a href="/chatroom/admin/">Admin</a>
                {% endif %}
                <a href="{% url 'logout' %}">Logout</a>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div style="display: flex; justify-content: center;">
                        <label style="margin-right: 10px;">Create a chatroom :</label>
                        <input type="text" placeholder="Chatroom" name="room-Name" class="type-a-message">
                        <input type="submit" value="Create" class="send-button">
                    </div>
                </form>
            </div>
        </section>
        <section>
            <h4 class="normal-text">
                <p>Available chatrooms : </p>
                <div id="roomWindow"></div>  
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </h4>
        </section>
     </body>
</html>  
