<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="home.js"></script>
<h2>Chatroom de lekip</h2>
{% if user.is_superuser %}
<a href="/chatroom/admin/">Admin</a>
{% endif %}
<a href="{% url 'logout' %}">Logout</a>
<form method="POST" action="">
    {% csrf_token %}
    <label>Create a chatroom :</label>
    <input type="text" placeholder="Chatroom" name="room-Name">
    <input type="submit" value="Create">
</form>
<p>Available chatrooms : </p>
<div id="roomWindow">

</div>  

{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}