* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #BBE7FA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center.mt-5{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.text-center.mt-5 img {
    bottom: 0;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    -moz-transition: bottom 0.3s ease 0s, opacity 0.3s ease;
    -o-transition: bottom 0.3s ease 0s,  opacity 0.3s ease;
    -webkit-transition: bottom 0.3s ease 0s,  opacity 0.3s ease;
    -ms-transition: bottom 0.3s ease 0s,  opacity 0.3s ease;
}

.text-center.mt-5:hover img {
    bottom: 110%;
    opacity: 1;
}

header{
    text-align:center;
    width:100%;
}


#messageSent{
    margin-right: 10px; 
    width: 500px; 
    height: 30px; 
}

button{
    margin-left: 10px; 
}

button{
    font-size: 10px; 
    padding: 10px 20px;
}

input[type="text"] {
    height: 38px; 
    padding: 0 20px; 
    font-size:16px;
}

.form-container a {
    margin-top: 40px;
}

#chatWindow {
    width: 600px; 
    height: 400px; 
    overflow-y: scroll; 
}

button {
    background-color: plum;
    color: white; 
}

.fa-arrow-right {
    font-size: 10px; 
    background-color: plum; 
    color: white; 
}

.normal-text{
    font-family: Arial, Helvetica, sans-serif; 
    color: black; 
}

.form-container button {
    height: 35px;
}

.send-emoji-button { 
    width: 100px; 
    font-size: 13px; 
    background-color: plum; 
    color: white; 
}

.send-button {
    width: 100px; 
    font-size: 15px; 
    margin-top: 20px;
    height: 30px;
    background-color: plum; 
    color: white; 
}

.type-a-message-container input{
    width: 150px; 
    height: 30px;
    font-size: 18px; 
    margin-bottom: 10px;
    color: white; 
}

.form-container{
    margin-bottom:inherit;
}
.form-inline {
    display: flex;
    justify-content: space-between;
}
.normal-text{
    font-family: Arial, Helvetica, sans-serif; 
    color: black; 
}

.type-a-message {
    width: 100px; 
    height: 20px;
    font-size: 18px;  
    color: white; 
}

h2 {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.login-header {
text-align: center;
font-size: 30px;
color:black;
text-decoration: underline;
}
.normal-text {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    text-decoration: underline;
}

.go-home {
font-family: Arial, Helvetica, sans-serif;
color: black;
text-decoration: underline;
}